*, ::after, ::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background: url("../../public/assets/full_background_2.jpg") no-repeat center center fixed;
    /*filter: brightness(70%) contrast(120%);*/
    background-size: cover;
    color: white;
}
body {
    filter: brightness(100%) contrast(100%);
}

.test-div {
    height: 40vh;
}

.blue {
    background: blue;
}
.red {
    background: red;
}
.green {
    background: green;
}
