:root{
    --sidebar-width: 10%;
    --sidebar-inner-width: 3px ;
    --list-item-height: 2rem;
    --highlight-height: 40%;

}

.custom-list-container{
    /*width: 100%;*/
}

.sidebar {
    position: absolute;
    width: var(--sidebar-width);
    /*height: var(--list-item-height);*/
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -999;
}

.sidebar-inner {
    height: 100%;
    width: var(--sidebar-inner-width);
    background-color: var(--highlight-color);
}

.sidebar-highlight-square {
    display: flex;
    width: var(--sidebar-width);
    height: var(--list-item-height);
    /*height: 50%;*/
    align-items: center;
    justify-content: center;
}

.sidebar-highlight-inner-square {
    height: 5px;
    padding: 5px;
    rotate: 45deg;
    background-image: radial-gradient(red, var(--highlight-color));
    opacity: 0;
    transition: opacity 300ms ease-in-out 100ms;
}

.custom-list-item:hover .sidebar-highlight-inner-square {
    opacity: 100;
}

.custom-list-item:hover .project-text {
    font-size: 1.5rem;
}

.custom-list-item {
    display: flex;
    position: relative;
}

.project-name {
    flex: 1;
    font-size: 1rem;
    padding-left: 3px;
    margin: auto;
    transition: font-size 300ms ease-in-out 100ms;
}

.coming-soon {
    margin: 0.5rem 0;
}