@import "globals.css";

:root {
    --ornament-size: 20%;
    --ornament-size-small: 10%;
    --text-padding_percent: 10%;
    --text-padding: var(--text-padding_percent) 0% var(--text-padding_percent) 0%;

    --overall-width: 80%;
    --welcome-width: 80%;
    --projects-width: 20%;

}

.full-screen-container {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    height: 100vh;
}

.full-screen-container-inner {

    display: flex;
    margin: 0 auto;
    text-align: left;
}

.ornament-container {
    display: flex;
    position: relative;
    margin: 0 auto;
    width: var(--overall-width);
}

.small-ornament-container {
    display: flex;
    width: 20%;
    margin: 0 auto;
    padding: var(--text-padding);
    padding-bottom: 0;
}

.info-container {
    display: flex;
    padding: 5%;
}

.info-container-small {
    display: flex;
    padding: 15% 0 15% 15%;
    width: 100%;
}

.welcome-container {
    width: var(--welcome-width);
    padding: var(--text-padding);
}

.projects-container {
    width: 100%;
}

.welcome-text {
    font-weight: 200;
    font-size: 5rem;
}
.dev-text {
    font-weight: 200;
    font-size: 1.5rem;
}

.projects-heading {
    font-weight: 300;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.signature {
    text-align: right;
    padding: 0 10% 0 0;
}


.ornament-top-left {
    position: absolute;
    width: var(--ornament-size);
}
.ornament-bottom-right {
    position: absolute;
    width: var(--ornament-size);
    rotate: 180deg;
    bottom: 0;
    right: 0;
}

.ornament-small {
    width: var(--ornament-size-small);
}

/*helper classes*/
.center{
    width: 60%;
    margin: auto;
    text-align: center;
}

.col-1 {
    width: 100%;
}

.flex {
    display: flex;
}
.flex-vertical-center {
    /*justify-content: center;*/
    align-items: center;
}

.width-100 {
    width: 100%;
}

.margins-auto {
    margin: auto;
}

.center-text {
    text-align: center;
}

.p-10 {
    padding: 0 5% 0 5%;
}

.p-14 {
    padding: 0 7% 0 7%;
}

.p-18 {
    padding: 0 9% 0 9%;
}

.overflow-auto {
    overflow: auto;
}
