@import "globals.css";

:root {
    --ornament-size: 20%;
    --ornament-min-size: 200px;

    --main-container-width: 80%;
    --main-container-min-height: 60%;

    --main-subcontainer-left-width: 75%;
}

.full-screen-container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}
.main-content-container {
    position: relative;
    display: flex;
    width: var(--main-container-width);
    min-height: var(--main-container-min-height) ;

    /*background-color: blue;*/
}
.main-subcontainer-left {
    position: relative;
    display: flex;
    width: var(--main-subcontainer-left-width);
    align-items: center;
    overflow: hidden;

    /*background-color: red;*/
}
.main-subcontainer-right {
    display: flex;
    position: relative;
    width: calc(100% - var(--main-subcontainer-left-width));

}

.left-pane-content {
    padding: 7% 2% 7% 7%;
}

.ornament-top-left {
    position: absolute;
    width: var(--ornament-size);
    min-width: var(--ornament-min-size);
    top: 0;
    left: 0;
}
.ornament-bottom-right {
    position: absolute;
    width: var(--ornament-size);
    min-width: var(--ornament-min-size);
    bottom: 0;
    right: 0;
    rotate: 180deg;
}

/*helper classes*/

.flex {
    display: flex;
}