:root {
    --small-ornament-width: 10%;
    --small-ornament-min-width: 100px;
}

.project-select-container {
    position: relative;
    display: flex;
    align-items: flex-start;
    /*margin: auto;*/
    margin-top: 40%;
    width: 100%;
    padding: 15% 10% 15% 10%;
}
.projects-container {
    width: 100%;
}


.ornament-small {
    position: absolute;
    top:0;
    left:0;
    width: var(--small-ornament-width);
    min-width: var(--small-ornament-min-width);
}

.projects-heading {
    font-weight: 300;
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-right: auto;
    width: 100%;
}