
.gis-title-text {
    font-size: 3rem;
    font-weight: 200;
    padding-bottom: 1rem;
}

.dev-text {
    font-weight: 200;
    font-size: 1.5rem;
}

.text-ornament {
    padding-left: 3%;
    padding-right: 3%;
}
.text-ornament-inner {
    width: 4px;
    height: 100%;
    background-color: var(--highlight-color);
}


.signature {
    text-align: right;
    padding: 0 10% 0 0;
}

.test-svg {

}